<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <div id="app">
        <h3>Filter</h3>
        <input type="text" v-model="search" placeholder="Search title..."/>
            <label >Search Books: </label>
        <ul>
            <li v-for="books in filterBooks">{{books.name}}</li>
        </ul>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                search:' ',
                booksList: [
                    {
                        id: 1, 
                        name: 'Kalkulus Dasar'
                    },
                    {
                        id: 1, 
                        name: 'Fisika Daasar'
                    },
                    {
                        id: 1, 
                        name: 'Aljabar Linier Elementer'
                    },
                    {
                        id: 1, 
                        name: 'Aljabar Abstrak'},
                    {
                        id: 1, 
                        name: 'Algoritma Pemrograman'},
                ]
            },
            computed: {
                // filterBooks: function(){
                //     return this.books.filter(books => !books.name.toLowerCase().indexOf(this.name.toLowerCase()))
                // },
                filterBooks(){
                function compare(a, b) {
                if (a.name < b.name) return -1;
                if (a.name > b.name) return 1;
                return 0;
                }
        
                return this.booksList.filter(books => {
                    return books.name.toLowerCase().includes(this.search.toLowerCase())
                    }).sort(compare)
                }
            }
            // methods: {
            //     filterProductsByName: function(books) {
            //         return books.filter(books => !books.name.toLowerCase().indexOf(this.name.toLowerCase()))
            //     }
            // }
        });


    </script>
    
</body>
</html>