<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <form>
            <!-- <input type="text" name="name" v-model:value="name" /> -->
            
            <!-- <input v-model="message" placeholder="edit met">
            <p>Message is: {{ message }}</p> -->

            <!--Multiple line text-->
            <!-- <span>Multiline message is:</span>
            <p style="white-space: pre-line;">{{ message }}</p>
            <br>
            <textarea v-model="message" placeholder="add multiple lines"></textarea> -->
            
            <!--Checkbox-->
            <input type="checkbox" id="checkbox" v-model="checked">
            <label for="checkbox">{{ checked }}</label>

        </form>
       
    </div>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                // message: " "
                checked: false
            },
        })
    </script>
</body>
</html>