<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>App </h1>
        {{ message }}
        <component-a></component-a>
        <component-satu></component-satu>
    </div>

    <template id="component-satu">
        <p>{{ pesan }}</p>
    </template>

    <script>
        var ComponentA = {
            template: '<p> {{pesan}} </p>',
            data() {
                return {
                    pesan : 'Ini dari Component A'
                }
            }
        }

        Vue.component('component-satu', {
            template : '#component-satu',
            data() {
                return {
                    pesan : 'Ini dari Component Satu'
                }
            }
        })

        new Vue({
            el: '#app',
            components : {
                'component-a' : ComponentA
            },
            data : {
                'message' : 'Sanbercode'
            }
        })
    </script>
</body>
</html>