<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <blog-component>
            <template v-slot:title="propsSlot">
                {{propsSlot.blogs[0].title}}
            </template>
                
            <template v-slot:description="propsSlot">
                {{propsSlot.blogs[0].description}}
            </template>
        </blog-component>
    </div>


    <script>
// Component Child
    var BlogComponent = {
            template: `
                <div>
                    <b>Judul</b> : <slot name="title" v-bind:blogs="blogs">{{ blogs[0].title }}</slot>
                    <br>
                    <b>Deskripsi</b> : <slot name="description" v-bind:blogs="blogs"> {{ blogs[0].description }}</slot>
                </div>
            `,
            data() {
                return {
                    blogs : [
                        {
                            title: 'Judul Pertama',
                            description: 'Deskripsi Pertama'
                        },
                        {
                            title: 'Judul Kedua',
                            description: 'Deskripsi Kedua'
                        }
                    ]
                }
            }
        }

// Component Parent
        const vm = new Vue({
            el: '#app',
            components : {
                'blog-component' : BlogComponent
            },
        })
    </script>
</body>
</html>