<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>Blog Options : {{  selectedBlog }} </h1>
        <!--Looping from blogs in component parent-->
        <blog-component 
            v-for="blog in blogs" 
            :blog="blog"
            @selected="selectedBlog = $event"
        >
        </blog-component>
        
    </div>


    <script>
// Component Child
    var BlogComponent = {
            template: `
                <div>
                    <h3>{{ blog.title }} <button @click="$emit('selected', blog.title)"> Pilih </button> </h3>
                    <p>{{ blog.content }}</p>
                </div>
            `,
            data() {
                return {
                    pesan : 'Ini dari Component Blog'
                }
            },
            props : ['blog']
        }

// Component Parent
        const vm = new Vue({
            el: '#app',
            components : {
                'blog-component' : BlogComponent
            },
            data : {
                blogs : [
                    {
                        title : 'Ini Judul 1',
                        content : 'Ini Content 1'
                    },
                    {
                        title : 'Ini Judul 2',
                        content : 'Ini Content 2'
                    },
                ],
                selectedBlog : ''
            }
        })
    </script>
</body>
</html>