<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app1">
        <!--Compoent Child-->
        <h1>CARA KE-1</h1>
        <blog-component title="Ini Judul 1" content="Ini Content 1"></blog-component>
        <blog-component title="Ini Judul 2" content="Ini deskripsi 2"></blog-component>

        <h1>CARA KE-2</h1>
        <!--Looping from blogs in component parent-->
        <blog-component v-for="blog in blogs" :title="blog.title" :content="blog.content"></blog-component>

        <h1>CARA KE-3</h1>
        <!--Looping from blogs in component parent-->
        <blog-component v-for="blog in blogs" :blog="blog"></blog-component>
    </div>

    <script>
// Cara PERTAMA DAN KEDUA
// Component Child
        // var BlogComponent = {
        //     template: `
        //         <div>
        //             <h3>{{ title }}</h3>
        //             <p>{{ content }}</p>
        //         </div>
        //     `,
        //     data() {
        //         return {
        //             pesan : 'Ini dari Component Blog'
        //         }
        //     },
        //     props : ['title', 'content']
        // }

// Component Parent
        // const vm = new Vue({
        //     el: '#app1',
        //     components : {
        //         'blog-component' : BlogComponent
        //     },
        //     data : {
        //         blogs : [
        //             {
        //                 title : 'Ini Judul 1',
        //                 content : 'Ini Content 1'
        //             },
        //             {
        //                 title : 'Ini Judul 2',
        //                 content : 'Ini Content 2'
        //             }
        //         ]
        //     }
        // })

// CARA KE TIGA

    // Component Child
    var BlogComponent = {
            template: `
                <div>
                    <h3>{{ blog.title }}</h3>
                    <p>{{ blog.content }}</p>
                </div>
            `,
            data() {
                return {
                    pesan : 'Ini dari Component Blog'
                }
            },
            props : ['blog']
        }

// Component Parent
        const vm = new Vue({
            el: '#app1',
            components : {
                'blog-component' : BlogComponent
            },
            data : {
                blogs : [
                    {
                        title : 'Ini Judul 1',
                        content : 'Ini Content 1'
                    },
                    {
                        title : 'Ini Judul 2',
                        content : 'Ini Content 2'
                    }
                ]
            }
        })
    </script>
</body>
</html>